<div class="user-options btn-group pull-right">
	<a class="btn dropdown-toggle" data-toggle="dropdown" href="#"> <i class="icon-user"></i> Username <span class="caret"></span> </a>
	<ul class="dropdown-menu">
		<li>
			<a href="#" class="option math"><i class="icon-none icon-ok"></i> Use Math</a>
		</li>
		<li>
			<a href="#" class="option show-carousel"><i class="icon-none icon-ok"></i> Show Carousel</a>
		</li>
		<li>
			<a href="#" class="option code"><i class="icon-none icon-ok"></i> Code Highlighting</a>
		</li>
		<li class="divider"></li>
		<li>
			<a href="#"><i class="icon-none"></i> Sign Out</a>
		</li>
	</ul>
</div>